* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "微软雅黑";
    font-size: 12px;
}

a {
    text-decoration: none
}
ul,
ol,
li {
    list-style: none;
}

/* 广告部分 */
.ad {
    display: none;
    height: 36px;
    background-color: #f3f3f3;
    line-height: 36px;
}
@media screen and (max-width: 1205px){
    .ad div,.top,.product,.course,.footer-wrap {
    width: 960px;
    margin: 0 auto;

    }
}
@media screen and (min-width: 1205px){
   .ad div,.top,.product,.course ,.footer-wrap{
    width: 1200px;
    margin: 0 auto;
    }
}
.ad-left {
    float: left;
}
.ad-left span {
    color: #4fb173;
}
.ad-right {
    float: right;
}
.ad-right span{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url(../images/sprites.png) -59px -14px no-repeat;
}
/*广告部分结束*/

/* 头部导航 */
.top{
    height: 89px;
    line-height: 89px;
}
.t-left {
    float: left;
}

.t-left h1 {
    font-size: 22px;
    display: inline;
    margin-right: 30px;
    padding-left: 78px;
    background: url(../images/sprites.png) -10px -159px no-repeat;
}

.t-left span.green {
    display: inline-block;
    width: 56px;
    height: 23px;
    padding-left: 20px;
    margin-right: 13px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: url(../images/sprites.png) -5px -15px no-repeat;
    background-color: #21a557;
    line-height: 21px;
    font-size: 12px;
    color: #fff;
}
.t-left span.green:hover {
    border: 1px solid #21a557;
}

/* 已关注样式 */
.t-left span.stared {
    display: none;
    width: 106px;
    height: 21px;
    line-height: 21px;
    padding-left: 18px;
    margin-right: 13px;
    border: 1px solid #efefef;
    border-radius: 2px;
    background-color: #f3f3f3;
    background: url(../images/sprites.png) -132px -94px no-repeat;
    color: #333;
}
/* 取消关注样式 */
.t-left a.cancel {
    color: #999;
}
.t-left a.cancel:hover {
    color: #21a557;
    text-decoration: underline;
    text-decoration-color: #21a557;
}
.t-left span span.line {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 5px 9px;
    vertical-align: middle;
    background-color: #ccc;
}

.t-right {
    float: right;
}

.t-right a {
    margin-left: 12px;
    color: #666666;
}

.t-right a:hover {
    color: #4fb173;
}

.t-right span.search {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background: url(../images/sprites.png) -50px -80px no-repeat;
}
/*头部结束*/
/* 轮播图 */
.banner {
    position: relative;
    width: 100%;
    height: 461px; 
    overflow: hidden;
}
.banner .b-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 461px; 
}
.banner .b-img a{
    filter: alpha(opacity: 50);
    opacity: 0.5;
}
.banner .b-img img {
    display: block;
    width: 100%;
    height: 461px; 
}

.banner .b-nav {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 20px;
}
.banner .b-nav span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin-right: 10px;
    background-color: #fff;
}
.banner .b-nav span.black {
    background-color: #333;
}
/*轮播图结束*/
/* 产品介绍 */
.product {
    padding: 80px 0 60px 0;
}
.product div {
    float: left;
    position: relative;
    width: 33.3%;
    height: 298px;
    padding-left: 100px;
    padding-right: 80px;
}

.product div:nth-child(1) {
    background: url(../images/logo1.png) 0px 8px no-repeat;
}

.product div:nth-child(2) {
    background: url(../images/logo2.png) 0px 8px no-repeat;
}

.product div:nth-child(3) {
    background: url(../images/logo3.png) 0px 8px no-repeat;

}

.product div h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.product div p {
    font-size: 14px;
    line-height: 24px;
}
.product div a {
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    line-height: 24px;
    color: #71b56c;
    }
.product div a:hover {
    font-size: 15px;
}
/*产品介绍结束*/
/* 环境图组 */
.enviroment {
    width: 100%;
    height: 223px;
    overflow: hidden;
    border-top: 1px solid #f8f8f8;
}
.enviroment ul li {
    float: left;
    width: 20%;
    height: 222px;
    padding-right: 4px;
}
/*环境图组结束*/
/* 课程展示部分 */
.wrap {
    width: 100%;
    padding-top: 30px;
    background-color: #f8f8f8;

}
.course {
    margin: 0 auto;  
    overflow: hidden;
}
.course .c-left{
    margin-right: 223px;
    margin-bottom: 160px;
}
.course .c-right{
    width: 223px;
    float: right;
}
.course .c-right,.course .c-left{
    padding-bottom: 9999px;
    margin-bottom: -9900px;
}
#codepart {
    display: none;
}
.c-left h3 {
    width: 407px;
    height: 52px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 1px 1px #d4d3d3;
}
.c-left h3 a {
    display: inline-block;
    width: 201px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-size: 20px;
    color: #666;    
}
.c-left h3 a.current {
    background-color: #39a030;
    color: #fff;
}
.c-left ul.cour li{
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 15px;
    background-color: #fff;
}
.c-left ul.cour li:hover {
    box-shadow: 1px 1px 1px 1px #e1e1e1;
}
ul.cour li img {
    display: inline-block;
    width: 223px;
    height: 125px;
    border: 1px solid #fff;
}

ul.cour li p {
    width: 220px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #333; 
}
ul.cour li span {
    display: block;
    margin-left: 5px;
}
ul.cour li span.des {
    margin-bottom: 10px;
    color: #999;
}
ul.cour li span.num {
    width: 40px;
    height: 18px;
    margin-bottom: 10px;
    padding-left: 18px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background: url(../images/sprites.png) -132px -19px no-repeat;
    font-size: 8px;
    color: #999; 
}
ul.cour li span.price {
    font-size: 11px;
    color: #ff3f00;
}
.course .c-left ul.pages {
    width: 311px;
    height: 20px;
    margin-right: 30px;
    float: right;
   
}
.course .c-left ul.pages li {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 9px;
    text-align: center;
    line-height: 20px;
    color: #666;
}

.course .c-left ul.pages li.pages-current {
    color: #9dd8b1;
}
.course .c-left ul.pages li:hover {
    color: #fff;
    background-color: #9dd8b1;
}
.course .c-left ul.pages li.pages-wrap {
    width: 30px;
    color: #fff;
    background-color: #9dd8b1;
}

.course .video {
    width: 223px;
    height: 230px;
    margin-bottom: 30px;
    background-color: #fff;
}
.video h3,.list h3 {
    height: 55px;
    margin-bottom: 20px;
    padding-left: 22px;
    line-height: 55px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #dddddd; 
}
.video p {
    padding-left: 22px;
    color: #666;
}
.video video {
    padding-left: 22px;
}
.course .list {
    width: 223px;
    height: 778px;
    background-color: #fff;
}
.course .list li {
    width: 223px;
    height: 70px;
    padding-top: 19px;
    padding-left: 22px;
}
.course .list img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 13px;
}
.course .list p {
    margin-bottom: 12px;
    font-size: 14px;
    color: #333;
}

.course .list span {
    display: inline-block;
    width: 60px;
    padding-left: 15px;
    background: url(../images/sprites.png) -135px -19px no-repeat;
    font-size: 9px;
    color: #99999c;
}
/*课程展示部分结束*/
/* 底部版权等信息 */
footer {
    width: 100%;
    height: 263px;
    background-color: #2c3339;
    font-size: 14px;
    color: #b0b2b3;
}

.footer-wrap {
    height: 263px;
    margin: 0 auto;
    padding-top: 80px;
}
.footer-wrap .copyright{
    float: left;
}
.footer-wrap .ul-wrap{
    float: right;
}
.footer-wrap .copyright h2 {
    font-size: 22px;
    font-weight: 300;
    color: #39a030;
    margin-bottom: 21px;
}

.footer-wrap .copyright h2 span {
    font-weight: 400;
}

.footer-wrap .copyright p {
    font-size: 12.5px;
    line-height: 26.5px;
}
.footer-wrap ul.ul-wrap li {
    float: left;
}
.footer-wrap ul ul li {
    clear: both;
    margin-right: 0;
    padding-right: 70px
}
.footer-wrap ul ul li h3 {
    font-size: 12px;
    font-weight: 300;
}
.footer-wrap ul ul li a {
    color: #b0b2b3;
    line-height: 28px;
}
.footer-wrap ul ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #b0b2b3;
}
.footer-wrap ul ul li a span {
    display: inline-block;
    width: 26px;
    height: 19px;
    vertical-align: middle;
    background: url(../images/sprites.png) -100px -44px no-repeat;
}


/*登录框界面*/

.login {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right:0;
    bottom: 0;
    background-color: #323232;
    opacity: 0.8; 
}
.login div {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 387px;
    height: 289px;
    padding: 30px 40px;
    background-color: #fff;
    opacity: 1;
}

.login div span {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 25px;
    height: 25px;
    background:url(../images/sprites.png) -59px -14px no-repeat;
}

.login div h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.login div input {
    width: 295px;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 12px;
    border: 1px solid #dfdfdf;
    background-color: #fafafa;
}

.login div button {
    width: 295px;
    height: 35px;
    color: #fff;
    background-color: #19a137;
    border: 1px solid #19a137;
}